body{
    font-family: 'Didact Gothic', sans-serif;
    background: url("wallpaper(iPad).jpg");
    background-size: cover;
    background-position: center;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
canvas{
    border: 5px double white;
    box-shadow: 10px 10px 10px white;
    border-radius: 30px;
}
#status, #noOfObjects{
    font-size: 18px;
}

